// Import All of Bootstrap
@import "bootstrap";

// |--------------------------------------------------------------------------
// | GENERAL
// |--------------------------------------------------------------------------

.que .info, .info .grade {
  background-color: $blue-100;
}

// |--------------------------------------------------------------------------
// | DASHBOARD
// |--------------------------------------------------------------------------

#page-my-index {

  .card {

    text-align: center;

    .card-img-top, .card-img {
      width: auto;
      margin: 0;
      height: 135px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .c-course-box-content, .course-info-container {

      padding: 25px 20px 0;
      text-align: center;

      .course-box-title {

        margin-bottom: 1rem;

      }

      a {
        font-size: 22px;
        font-weight: 900;
        margin-top: 0 !important;
      }

      .course-box-desc {
        margin-bottom: 0;
        height: 150px;
        padding: 0;
      }

    }

  }
}


// |--------------------------------------------------------------------------
// | LOGIN SIGN UP
// |--------------------------------------------------------------------------

#page-login-signup {

  #fitem_id_city {
    display: none;
  }

  #fitem_id_country {
    display: none;
  }

}

// |--------------------------------------------------------------------------
// | COURSE CATEGORY
// |--------------------------------------------------------------------------

#page-course-index-category {

  .card {

    text-align: center;

    .card-img-top {
      width: auto;
      margin: 0;
      height: 135px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .c-course-box-content {

      padding: 25px 20px 0;
      text-align: center;

      .course-box-title {

        margin-bottom: 1rem;

        a {
          font-size: 22px;
          font-weight: 900;
        }

      }

      .course-box-desc {
        margin-bottom: 0;
        height: 150px;
        padding: 0;
      }

    }

  }




}

// |--------------------------------------------------------------------------
// | QUIZ VIEW
// |--------------------------------------------------------------------------

#page-mod-quiz-view {

  .quizinfo {
    display: none;
  }
  .quizattempt {
    text-align: center;
    padding-top: 0 !important;
  }

    // MODAL

  .moodle-dialogue {

    text-align: center;

    .moodle-dialogue-hd {
      font-size: 1.6rem;
      padding: 1rem !important;
    }

    form {

      legend {
        display: none;
      }

      #fitem_id_honestycheckmessage {

        .col-md-3 {

          &:after {
            content: "";
            position: absolute;
            top: -90px;
            left: -30px;
            width: 140px;
            height: 200px;
            background:url([[pix:theme|cadets/Robot-clock]]);
            background-size: cover;
          }

        }

        .felement {

          .form-control-static {
            box-shadow: none;
            font-size: 0.9rem;
            color: #000;
            background-color: $blue-100;

            &:after {
              content: "";
              position: absolute;
              top: 33px;
              left: -55px;
              border-top: 20px solid transparent;
              border-right: 65px solid $blue-100;
              border-bottom: 20px solid transparent;
            }

          }
        }

      }

    }

  }

}

.GA-NAVBAR {
  padding: 25px 30px 0;
  align-items: start;

  .logo {
    img {
      width: 235px;
    }
    .main {
      width: 265px;
    }
  }
}

// |--------------------------------------------------------------------------
// | QUIZ ATTEMPT
// |--------------------------------------------------------------------------

#page-mod-quiz-attempt {

  // CADETS = category-2

  &.category-2 {

    .navbar {

      @extend .GA-NAVBAR;

    }

    section {

      // MAIN AREA

      &#region-main {

        width: calc(100% - 320px);

        form {

          background-color: white;

          .horizontal_que div {
            display: inline-block;
          }

          .section-heading {
            background-color: $blue-200;
            border-radius: 10px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            padding: 15px 40px;

            h1 {
              margin: 0;
              font-weight: 900;
            }
          }

          .que {

            background-color: $blue-100;
            border-radius: 10px;
            padding: 30px 40px 60px;

            &.informationitem {
              border-top-left-radius: 0;
              border-top-right-radius: 0;

            }

            .info {

              .no {
                margin: 0 !important;
              }

              .grade, .state {
                display: none;
              }

            }

            .content {

              .qtext {

                font-size: 1.1rem;

                // MEDIA PLAYER

                .mediaplugin {

                  background-color: $blue-700;
                  padding: 10px;
                  border-radius: 5px;
                  max-width: 50%;
                  box-shadow: 0 1px 1px rgba(7,66,205,.15),0 1px 2px rgba(7,66,205,.15),0 1px 2px rgba(7,66,205,.15),0 2px 4px rgba(7,66,205,.15),0 4px 12px rgba(7,66,205,.15) !important;

                  .video-js {

                    .vjs-control-bar {

                      background-color: $blue-700;
                      align-items: center;

                      #stop-skip {
                        position: absolute;
                        width: 100%;
                        height: 50px;
                        top: -10px;
                        right: 0;
                        z-index: 1;
                      }

                      .vjs-playing {
                        visibility: hidden;
                      }

                      .vjs-play-control {

                        z-index: 2;

                        .vjs-icon-placeholder:before {
                          position: relative;
                          top: auto;
                          border: 0 !important;
                          font-size: 30px;
                          line-height: 1;
                        }

                      }

                      .vjs-progress-control {
                        z-index: 0;

                        .vjs-progress-holder {
                          background-color: rgba(255, 255, 255, 0.25);
                        }
                      }

                      #listen_counter {
                        font-size: 18px;
                        font-weight: 700;
                        margin: 0 10px;
                      }

                      .vjs-volume-panel {

                        width: 10em !important;
                        z-index: 2;

                        .vjs-volume-control {

                          width: 5em !important;
                          opacity: 1 !important;

                          .vjs-volume-bar {
                            margin: 1.35em .45em !important;
                            margin-left: -5px !important;
                          }
                        }
                      }

                      .vjs-remaining-time {
                        font-size: 15px;
                        font-weight: 800;
                        display: flex;
                        align-items: center;
                      }

                      .vjs-picture-in-picture-control {
                        display: none !important;
                      }
                    }

                    .vjs-slider-horizontal .vjs-volume-level::before {
                      top: -3px !important;
                    }
                  }
                }
              }
            }
            .que.ddimageortext .drag {
              background-color: transparent !important;
              border: none !important;
            }
          }

          .submitbtns {

            .singlebutton {

              button {
                @extend .btn-danger
              }

            }

          }
        }
      }

      // SIDEBAR

      &:not(#region-main) {

        width: 280px;

        #mod_quiz_navblock {

          margin-top: 20px;
          background-color: transparent;
          border: none;

          .card-body {
            padding: 0;

            .card-title {
              padding: 1.5rem 2rem 1rem;
              background-color: $blue-100;
              margin-bottom: 0;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              font-size: 18px;
            }

            .card-text {

              padding: 0;
              margin-top: 0 !important;

              .qn_buttons {
                padding: 0 2rem 1.5rem;
                background-color: $blue-100;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;

                .mod_quiz-section-heading {
                  font-size: 16px;
                  margin-bottom: 10px;
                  font-weight: 600;
                }

                .qnbutton {

                  &.hide-infos {
                    display: none;
                  }
                }

              }

              .othernav {

                .endtestlink {
                  display: none;
                }

                #quiz-timer {

                  padding: 1.5rem 2rem;
                  background-color: $blue-100;
                  border-radius: 10px;
                  font-size: 18px;

                  display: block;
                  position: fixed;
                  bottom: 25px;
                  right: 0;
                  margin: 20px 30px 0 40px;
                  z-index: 1;
                  width: 280px;
                  text-align: left;

                  span {
                    display: block;
                    font-size: 25px;
                  }

                  &:after {
                    content: "";
                    position: absolute;
                    top: -30px;
                    right: -30px;
                    width: 150px;
                    height: 145px;
                    background:url([[pix:theme|cadets/Robot-timer]]);
                    background-size: cover;
                  }

                }

                .singlebutton {
                  margin: 2.2rem 0;
                }

              }

            }

          }

        }
      }

    }

    footer {
      background-color: #fff !important;
    }
  }

}

#page-mod-quiz-attempt .submitbtns input,
#page-mod-quiz-review .submitbtns input {
  margin-right:30px;
  width: 250px;
}

#page-mod-quiz-attempt .submitbtns,
#page-mod-quiz-review .submitbtns {
  text-align:center;
  padding: 2em !important;
}

// |--------------------------------------------------------------------------
// | QUIZ REVIEW
// |--------------------------------------------------------------------------

#page-mod-quiz-review {

  &.category-2 {

    .navbar {
      @extend .GA-NAVBAR;
    }

    #page-header {
      display: none;
    }

    section {

      // MAIN AREA

      &#region-main {

        width: 100%;
        text-align: center;

        .card {
          background-color: white;

          .simple-content {

            background-color: $blue-200;
            border-radius: 10px;
            padding: 10% 20%;
            position: relative;

            .robot {
              &:after {
                content: "";
                position: absolute;
                bottom: -23px;
                right: -60px;
                width: 140px;
                height: 250px;
                background:url([[pix:theme|cadets/Robot-review]]);
                background-size: cover;
              }
            }
          }

        }

      }

      // SIDEBAR

      &:not(#region-main) {
        display: none;
        width: 0;

      }

    }
  }

  footer {
    background-color: #fff !important;
  }

}



// |--------------------------------------------------------------------------
// | CUSTOM MODAL
// |--------------------------------------------------------------------------

.custom-modal {

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &:focus {
    box-shadow: none !important;
  }

  .modal-robot {

    &:after {
      content: "";
      position: absolute;
      top: -27px;
      left: -130px;
      width: 160px;
      height: 260px;
      background:url([[pix:theme|cadets/Robot-modal]]);
      background-size: cover;

    }

  }

  button {
    max-width: 50% !important;
  }

}