<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">

            <div class="simple-content">

                <h1 class="display-3 font-weight-bold">Congratulations!</h1>

                {{#sample}}
                    <p class="mt-5 mb-3 display-5">You have completed the {{ title }} practice exam.</p>
                    <p>We hope you had fun and to see you soon during a live exam!</p>
                {{/sample}}

                {{^sample}}
                    <p class="mt-5 mb-3 display-5">Thank you for completing the {{ title }}.</p>
                    <p>We will send your results to your school when they are ready.</p>
                {{/sample}}

                <div class="robot"></div>

            </div>

        </div>
    </div>
</div>


